# Node.js dependencies
/node_modules
/npm-debug.log*
/yarn-error.log*
package-lock.json

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
jspm_packages/
.pnp/
.pnp.js

# Test coverage
/coverage

# TypeScript
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output directories
/dist
/build
/coverage
/tmp
/out

# Expo specific
.expo/
.expo-shared/

# React Native
/android
/ios
*.iml
.idea/
.gradle/
local.properties
.DS_Store

# Miscellaneous
.env
.env.local
.env.*.local
.vscode/
*.sublime-workspace
*.swp
*.swo
*.bak

# macOS files
.DS_Store

# Windows files
Thumbs.db
desktop.ini